<div class="question-card__left">
    <div class='quiz-img' id="qImg"><img src="{{qImg}}"></div>
</div>
<div class="question-card__right ">

    <div class='title' id="question"><p>{{question}}</p></div>
    <div class='title-code' id="question-code"><pre class="language-javascript"><code >{{questionCode}}</code></pre></div>

    <ol class='choices' id="choices">
        <li class="choices__item">
            <span class="choices__item-text" id="A">{{choiceA}}</span>
        </li>
        <li class="choices__item">
            <span class="choices__item-text" id="B">{{choiceB}}</span>
        </li>
        <li class="choices__item">
            <span class="choices__item-text" id="C">{{choiceC}}</span>
        </li>
        <li class="choices__item">
            <span class="choices__item-text" id="D">{{choiceD}}</span>
        </li>
    </ol>
</div>
